@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


/** Imports from the network */
@font-face {
    font-family: "Poppins Sans";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
}
@font-face {
    font-family: "Poppins Sans";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
    font-weight: bold;
}
@font-face {
    font-family: "Poppins Sans";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Poppins Sans";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
    font-weight: bold;
    font-style: italic, oblique;
}


/** Imports from the relative paths for locally stored fonts */
@font-face {
	font-family: Georgia;
	src: url('../assets/fonts/Georgia-Regular-font.ttf');
}

@font-face {
	font-family: Georgia Bold;
	src: url('../assets/fonts/georgia-bold.ttf');
}

@font-face {
	font-family: Georgia Italic;
	src: url('../assets/fonts/georgiai.ttf');
}

@font-face {
	font-family: Georgia Bold Italic;
	src: url('../assets/fonts/georgiaz.ttf');
}
body {
	overflow: auto;
	overscroll-behavior-y: contain;
	--sidebar-right-size: 220px;
}

p,
span {
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-family: 'Georgia', sans-serif;
}
h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
h3 {
	font-family: 'Poppins', serif;
}
h4 {
	font-family: 'Poppins', serif;
}
h5 {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
label {
	font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
span,
p {
	@apply text-black;
}

input {
	@apply focus:outline-none;
	@apply focus:bg-white;
	@apply focus:ring-opacity-0;
	@apply ring-opacity-0;
}

*:focus {
	outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	@apply border;
	@apply border-gray-grey3;
	-webkit-text-fill-color: inherit;
	-webkit-box-shadow: 0 0 0px 1000px rgb(250, 250, 251) inset;
	transition: background-color 1000s ease-in-out 0s;
}

button:hover {
	@apply border-orange-orange1;
}

button:disabled {
	@apply bg-gray-grey3;
}

.app-wrapper {
	/* display: grid; */
	/* grid-template-columns: 320px 1fr; */
	/* width: 100vw; */
	height: 100vh;
}
.highlighted-view {
	border: 2px solid #ffad77;
}
